@font-face {
    font-family: 'FranklinGothicBook';
    src: url('../stylesheets/FranklinGothicBook.TTF') format('truetype');
}

@font-face {
    font-family: 'FranklinGothicHeavy';
    src: url('../stylesheets/FranklinGothicHeavy.TTF') format('truetype');
}

.FranklinBook-font {
    font-family: 'Franklin Gothic Book';
}

.FranklinHeavy-font {
    font-family: 'Franklin Gothic Heavy';
    }
	
/* Hide volume control for videos with a specific class */
video.no-audio::-webkit-media-controls-volume-slider,
video.no-audio::-webkit-media-controls-mute-button {
    display: none !important;
}

/* Ensure other controls remain visible */
video.no-audio::-webkit-media-controls-panel {
    display: flex !important;
}
    
/* To use this in a Markdown (.md)

Dies ist ein Beispiel und <span class="FranklinBook-font">dies ist in der speziellen Schriftart geschrieben</span>.

Dies ist ein Beispiel und <span class="FranklinHeavy-font">dies ist in der speziellen Schriftart geschrieben</span>.